.jumbotron
{
    background-image: linear-gradient
    !important;
    background-image: url(../img/pizza.png)
    !important;
    background-size: cover;
}
h1.display-12 {
    background: rgba(236, 236, 236, 0.767)
    !important;
    color: red
    !important;
    font-family: cursive
    !important;
    position: relative
    !important;
    text-align: center
    !important;
}