.codeup
    {
        position: relative;
        top: 50px;
        left: 30px;

    }

#imggg
    {
        position: relative;
        height: 50px;
        width: 50px;
        float: left;
        background-size: 900% 200%;
        padding: 2px;
        background: black;
    }

.nav2
    {
        position: relative;
        display: inline-block;
        top: 35px;
        left: 9px;
        height: 0px;
        width: 600px;
    }